openapi: "3.0.0"
info:
  title: CLICK-JIT BNPL API specification
  description: >
    Универсальные API для управление BNPL
  version: "1.0.4"

servers:
  - url: https://bnpl-sandbox.click.uz:8000
    description: Sandbox Environment

security:
  # - OAuth2: []
  - bearerAuth: []

tags:
  - name: CLICK-JIT API
    description: Универсальные API для BNPL / JIT операций

paths:
  /api/bnpl/partner/v1/payment:
    post:
      tags:
        - CLICK-JIT API
      summary: Создание платежа
      description: Создает новый платеж через JIT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePaymentResponse"
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."
                "errors": null


  /api/bnpl/partner/v1/accounts/list:
    get:
      tags:
        - CLICK-JIT API
      summary: Список карт клиента
      description: Возвращает список доступных карт клиента.
      parameters:
        - name: clientId
          in: query
          required: true
          description: "Идентификатор клиента в системе клик"
          example: 12675
          schema:
            type: integer
        - name: serviceId
          in: query
          required: true
          description: "Идентификатор сервиса"
          example: 123986124
          schema:
            type: integer
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Статус ответа
                    example: "Success"
                  message:  
                    type: string
                    description: Описание ответа
                    example: "Accounts retrieved."
                  data:
                    type: object
                    properties:
                      accounts:
                        type: array
                        items:
                          anyOf:
                            - $ref: '#/components/schemas/AccountsListObject'
                            - $ref: '#/components/schemas/AccountsListObject'
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."

  /api/bnpl/partner/v1/application/complete:
    patch:
      tags:
        - CLICK-JIT API
      summary: Обновление статуса заявки
      description: Обновляет статус заявки BNPL / JIT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApplicationStatusRequest"
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  data:
                    type: object
                    example: null
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/bnpl/general/v2/payment/state:
    get:
      tags:
        - CLICK-JIT API
      summary: Получить состояние.
      description: Получить состояние платежа по ключу инедепонтенсности из ядра (CLICK core DB)
      parameters:
        - name: externalId
          in: query
          required: true
          schema:
            type: string
            description: Уникальный ключ инедепонтенсности поставщика BNPL.
            example: "eyJhbGciOiJIUzI1NiIsInR5.."
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: integer
                    description: Уникальный ID платежа.
                    example: 3942185724
                  paymentStatus:
                    type: integer
                    description: Статус платежа.
                    example: 2
                  statusDescription:
                    type: string
                    description: Описание статуса.
                    example: "Успешно"
        "400":
          description: Если платеж не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ERR_INVALID_REQUEST"
                  message:
                    type: string
                    example: "Invalid request parameters."
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."


components:
  securitySchemes:
    # OAuth2:
    #   type: oauth2
    #   flows:
    #     clientCredentials:
    #       tokenUrl: https://sandbox-bnpl.click.uz:8000/oauth/token
    #       scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    CreatePaymentRequest:
      type: object
      required:
        - accountId
        - serviceId
        - amount
        - externalId
        - checkoutId
      properties:
        accountId:
          type: number
          description: "Идентификатор счета"
          format: int64
          example: 100001
        serviceId:
          type: number
          description: "Идентификатор сервиса"
          format: int64
          example: 10123
        amount:
          type: number
          description: "Сумма платежа"
          format: float
          example: 587.00
        externalId:
          type: string
          description: "Идентификатор платежа. Сгенерирует внешная система"
          format: uuid
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
        checkoutId:
          type: string
          description: "Единый идентификатор для платежей"
          format: uuid
          example: "d9892e31-0000-4225-ab03-0c8f34bb70f8"

    CreatePaymentResponse:
      type: object
      properties:
        status:
          type: string
          description: "Статус операции"
          example: "Success"
        message:
          type: string
          description: "Информация об операции"
          example: "Payment created successfully."
        data:
          type: object
          properties:
            paymentId:
              type: integer
              format: int64
              description: "Идентификатор платежа"
              example: 12342
            status:
              type: string
              description: "Статус платежа"
              example: 2
            statusDescription:
              type: string
              description: "Описание статуса платежа"
              example: "Успешно"

    UpdateApplicationStatusRequest:
      type: object
      required:
        - event
        - partnerOrderId
        - checkoutId
      properties:
        event:
          type: string
          enum:
            - being_in_payment
            - paid
          description: "Статус рассрочки"
        partnerOrderId:
          type: string
          format: uuid
          description: "Номер заявки партнёра"
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
        checkoutId:
          type: string
          format: uuid
          description: "Единый идентификатор для платежей"
          example: "d9892e31-0000-4225-ab03-0c8f34bb70f8"

    AccountsListObject:
      type: object
      properties:
        id:
          type: number
          format: int64
          description: Идентификатор карты
          example: 37773111
        name:
          type: string
          description: Наименование карты
          example: "Kapital"
        card_number:
          type: string
          description: Маскированный номер карты 
          example: "8600 **** **** 1876"
        expire_date:
          type: string
          description: Срок действия карты 
          example: "0426"
        status:
          type: integer
          description: Статус активности карты
          example: 1
        status_text:
          type: string
          description: Статус активности карты 
          example: "Активна"
        type:
          type: string
          description: Тип карты
          example: "SMARTV"
        is_default:
          type: boolean
          description: Карта по умолчанию
          example: true
        holder:
          type: string
          description: Имя владельца карты
          example: "USMANOV USMAN"
        currency_code:
          type: string
          description: Валюта карты 
          example: "UZS"
        mini_logo_url:
          type: string
          description: URL лого маленькое 
          example: "https://cdn.click.uz/app/evo_new/card/uzcard/kptl-mini-logo_v1.png"
        logo_url:
          type: string
          description: URL лого
          example: "https://cdn.click.uz/app/evo_new/card/uzcard/kptl-logo_v1.png"
        monitoring_status:
          type: integer
          description: Мониторинг статус
          example: 0
        monitoring_available:
          type: boolean
          description: Возможность включения мониторинга
          example: true
        

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "ERR_INVALID_REQUEST"
        message:
          type: string
          example: "Invalid request parameters."
        errors:
          type: object
          example: null

    ErrorResponseRefund:
      type: object
      properties:
        code:
          type: string
          example: "ERR_INVALID_REQUEST"
        message:
          type: string
          example: "Invalid request parameters."
        
