openapi: "3.0.0"
info:
  title: CLICK-JIT BNPL API specification
  description: >
    Универсальные API для управление BNPL
  version: "1.0.4"

servers:
  - url: https://bnpl-sandbox.click.uz:8000
    description: Sandbox Environment

security:
  - OAuth2: []

tags:
  - name: CLICK-JIT API
    description: Универсальные API для BNPL / JIT операций

paths:
  /api/bnpl/partner/v1/payment:
    post:
      tags:
        - CLICK-JIT API
      summary: Создание платежа
      description: Создает новый платеж через JIT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePaymentResponse"
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."


  /api/bnpl/partner/v1/accounts/list:
    get:
      tags:
        - CLICK-JIT API
      summary: Список карт клиента
      description: Возвращает список доступных карт клиента.
      parameters:
        - name: clientID
          in: query
          required: true
          schema:
            type: integer
            description: Внтуренний ID пользователя Click
            example: 3703835
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: integer
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."

  /api/bnpl/partner/v1/application/complete:
    patch:
      tags:
        - CLICK-JIT API
      summary: Обновление статуса заявки
      description: Обновляет статус заявки BNPL / JIT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApplicationStatusRequest"
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/bnpl/general/v2/payment/status:
    get:
      tags:
        - CLICK-JIT API
      summary: Получить статус платежа
      description: Возвращает текущий статус платежа из БД сервиса BNPL / JIT
      parameters:
        - name: paymentId
          in: query
          required: true
          schema:
            type: integer
            description: Уникальный ID платежа.
            example: 4185468796
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: integer
                    description: Уникальный ID платежа.
                    example: 4185468796
                  status:
                    type: integer
                    description: Статус платежа.
                    example: 2
                  statusDescription:
                    type: string
                    description: Описание статуса.
                    example: "Успешно"
        "400":
          description: Если платеж не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."

  /api/bnpl/general/v2/payment/state:
    get:
      tags:
        - CLICK-JIT API
      summary: Получить состояние.
      description: Получить состояние платежа по ключу инедепонтенсности из ядра (CLICK core DB)
      parameters:
        - name: externalId
          in: query
          required: true
          schema:
            type: string
            description: Уникальный ключ инедепонтенсности поставщика BNPL.
            example: "eyJhbGciOiJIUzI1NiIsInR5.."
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: integer
                    description: Уникальный ID платежа.
                    example: 3942185724
                  status:
                    type: integer
                    description: Статус платежа.
                    example: 2
                  statusDescription:
                    type: string
                    description: Описание статуса.
                    example: "Успешно"
        "400":
          description: Если платеж не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Too Many Requests - Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                "status": "ERR_TOO_MANY_REQUESTS"
                "message": "Rate limit exceeded. Please try again later."


components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sandbox-bnpl.click.uz:8000/oauth/token
          scopes: {}

  schemas:
    CreatePaymentRequest:
      type: object
      required:
        - client_id
        - amount
        - externalId
        - checkoutId
      properties:
        client_id:
          type: number
          description: "Идентификатор клиента в системе клик"
          format: integer
          example: 100001
        amount:
          type: number
          description: "Сумма платежа"
          format: float
          example: 587.00
        externalId:
          type: string
          description: "Идентификатор платежа. Сгенерирует внешная система"
          format: uuid
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
        checkoutId:
          type: string
          description: "Единый идентификатор для платежей"
          format: uuid
          example: "d9892e31-0000-4225-ab03-0c8f34bb70f8"

    CreatePaymentResponse:
      type: object
      properties:
        paymentId:
          type: integer
          format: int64
          description: "Идентификатор платежа"
        paymentStatus:
          type: string
          description: "Статус платежа"
        statusDescription:
          type: string
          description: "Описание статуса платежа"
        datetime:
          type: string
          description: "Дата и время платежа"

    UpdateApplicationStatusRequest:
      type: object
      required:
        - event
        - partnerOrderId
        - checkoutId
      properties:
        event:
          type: string
          enum:
            - being_in_payment
            - paid
          description: "Статус рассрочки"
        partnerOrderId:
          type: string
          format: uuid
          description: "Номер заявки партнёра"
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
        checkoutId:
          type: string
          format: uuid
          description: "Единый идентификатор для платежей"
          example: "d9892e31-0000-4225-ab03-0c8f34bb70f8"

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "ERR_INVALID_REQUEST"
        message:
          type: string
          example: "Invalid request parameters."

    ErrorResponseRefund:
      type: object
      properties:
        code:
          type: string
          example: "ERR_INVALID_REQUEST"
        message:
          type: string
          example: "Invalid request parameters."
