openapi: "3.0.0"
info:
  title: Click BNPL API
  description: >
    Универсальные API для управление BNPL
  version: "1.0.4"

servers:
  - url: https://bnpl-sandbox.click.uz:8000
    description: Sandbox Environment

security:
  - OAuth2: []

tags:
  - name: BNPL API
    description: Универсальные API для BNPL операций

paths:
  /api/bnpl/partner/v1/payment:
    post:
      tags:
        - BNPL API
      summary: Создание платежа
      description: Создает новый платеж через BNPL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePaymentResponse"
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/bnpl/partner/v1/client/personalisation:
    get:
      tags:
        - BNPL API
      summary: Получение персонализации клиента
      description: Возвращает персонализационные данные клиента.
      parameters:
        - name: client_id
          in: query
          required: true
          description: "Идентификатор клиента в системе клик"
          example: 12675
          schema:
            type: integer
        - name: account_id
          in: query
          required: true
          description: "Идентификатор карты"
          example: 123986124
          schema:
            type: integer
        - name: checkoutId
          in: query
          required: true
          description: "Единый идентификатор для платежей"
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonalisationResponse"
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/bnpl/partner/v1/accounts/list:
    get:
      tags:
        - BNPL API
      summary: Список карт клиента
      description: Возвращает список доступных карт клиента.
      parameters:
        - name: clientID
          in: query
          required: true
          schema:
            type: integer
            description: Внтуренний ID пользователя Click
            example: 3703835
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: integer
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/bnpl/partner/v1/application/complete:
    patch:
      tags:
        - BNPL API
      summary: Обновление статуса заявки
      description: Обновляет статус заявки BNPL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApplicationStatusRequest"
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        "400":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/bnpl/general/v2/payment/status:
    get:
      tags:
        - BNPL API
      summary: Получить статус платежа
      description: Возвращает текущий статус платежа из БД сервиса BNPL
      parameters:
        - name: paymentId
          in: query
          required: true
          schema:
            type: integer
            description: Уникальный ID платежа.
            example: 4185468796
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: integer
                    description: Уникальный ID платежа.
                    example: 4185468796
                  status:
                    type: integer
                    description: Статус платежа.
                    example: 2
                  statusDescription:
                    type: string
                    description: Описание статуса.
                    example: "Успешно"
        "400":
          description: Если платеж не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/bnpl/general/v2/payment/state:
    get:
      tags:
        - BNPL API
      summary: Получить состояние.
      description: Получить состояние платежа по ключу инедепонтенсности из ядра (CLICK core DB)
      parameters:
        - name: externalId
          in: query
          required: true
          schema:
            type: string
            description: Уникальный ключ инедепонтенсности поставщика BNPL.
            example: "eyJhbGciOiJIUzI1NiIsInR5.."
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentId:
                    type: integer
                    description: Уникальный ID платежа.
                    example: 3942185724
                  status:
                    type: integer
                    description: Статус платежа.
                    example: 2
                  statusDescription:
                    type: string
                    description: Описание статуса.
                    example: "Успешно"
        "400":
          description: Если платеж не найден
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Ошибка валидации
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"


components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://sandbox-bnpl.click.uz:8000/oauth/token
          scopes: {}

  schemas:
    CreatePaymentRequest:
      type: object
      required:
        - client_id
        - amount
        - externalId
        - checkoutId
      properties:
        client_id:
          type: number
          description: "Идентификатор клиента в системе клик"
          format: integer
          example: 100001
        amount:
          type: number
          description: "Сумма платежа"
          format: float
          example: 587.00
        externalId:
          type: string
          description: "Идентификатор платежа. Сгенерирует внешная система"
          format: uuid
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
        checkoutId:
          type: string
          description: "Единый идентификатор для платежей"
          format: uuid
          example: "d9892e31-0000-4225-ab03-0c8f34bb70f8"

    CreatePaymentResponse:
      type: object
      properties:
        paymentId:
          type: integer
          description: "Идентификатор платежа"
        paymentStatus:
          type: string
          description: "Статус платежа"
        statusDescription:
          type: string
          description: "Описание статуса платежа"
        datetime:
          type: string
          description: "Дата и время платежа"

    PersonalisationResponse:
      type: object
      properties:
        general_data:
          type: object
          properties:
            client_id:
              type: integer
              description: "Идентификатор клиента в системе клик"
              example: 3700001
            identified:
              type: string
              description: "Идентифицирован пользователь или нет"
              example: "true"
            phone_number:
              type: string
              description: "Номер телефона клиента"
              example: "+998931110000"
            registration_date:
              type: string
              description: "Дата и время регистрации клиента"
              example: "2017-11-15 16:29:40.000"
            user_last_otp_time:
              type: string
              description: "Когда пользователь последний раз получил ОТП"
              example: "2025-05-21 16:05:01.057"
            user_last_otp_success:
              type: integer
              description: "Последний успешный ОТП"
              example: 1
            age:
              type: integer
              description: "Возраст клиента"
              example: "21"
            gender:
              type: string
              description: "Пол клиента"
              example: "M"
            card_count:
              type: integer
              description: "Сколько карт имеется у клиента"
              example: 4
            pinfl:
              type: integer
              description: "PINFL клиента"
              example: 12345678900000
            encrypted_pinfl:
              type: string
              description: "Зашифрованный PINFL клиента"
              example: "M6vM0000000000IsC+XQmGoNpnYd5g0000000000dRNyt+gCXo3/ZmTf"
        card_id<dynamic>:
          type: object
          properties:
            card_id:
              type: integer
              description: "Токен карты клиента"
              example: 47306000
            card_num_hash:
              type: string
              description: "Хэш номера карты клиента"
              example: "5D96F1AC883BF000C8777DD61329AF9000C6A907227E00000000080B2924FB5E"
            first_transaction_timestamp:
              type: string
              description: "Дата и время первой транзакции"
              example: "2025-04-28T22:44:05.140"
            card_binding_timestamp:
              type: string
              description: "Дата и время привязки банковской карты"
              example: "2025-04-15T12:26:17.320"
            card_expiry_date:
              type: string
              description: "Срок действия карты"
              example: "2708"
            card_issuer_bank:
              type: string
              description: "Банк карты"
              example: "TBC Банк"
            card_bin:
              type: string
              description: "BIN номер карты"
              example: "986000"

    UpdateOFDRequest:
      type: object
      required:
        - paymentId
        - ofdLinks
      properties:
        paymentId:
          type: integer
          description: "Идентификатор платежа"
          example: 2134
        ofdLinks:
          type: array
          description: "OFD линки"
          items:
            type: string
            format: url

    UpdateApplicationStatusRequest:
      type: object
      required:
        - event
        - partnerOrderId
        - checkoutId
      properties:
        event:
          type: string
          enum:
            - being_in_payment
            - paid
          description: "Статус рассрочки"
        partnerOrderId:
          type: string
          format: uuid
          description: "Номер заявки партнёра"
          example: "d9892e31-6669-0000-0000-0c8f34aa70f8"
        checkoutId:
          type: string
          format: uuid
          description: "Единый идентификатор для платежей"
          example: "d9892e31-0000-4225-ab03-0c8f34bb70f8"

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: "ERR_INVALID_REQUEST"
        message:
          type: string
          example: "Invalid request parameters."

    ErrorResponseRefund:
      type: object
      properties:
        code:
          type: string
          example: "ERR_INVALID_REQUEST"
        message:
          type: string
          example: "Invalid request parameters."
